<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
         version="2.5">
  <!-- Nombre del proyecto -->
  <display-name>ProyectoCv</display-name>
  <!-- Página de inicio -->
  <welcome-file-list>
  	<!-- Se declara como única página de inicio 'index.jsp'-->
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>